<div class="panel panel-default">
  <div class="panel-heading">
    {{proyecto.nombre}}
    <button class="btn-xs pull-right" routerLink="/proyectos"> Atrás</button>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Id</th>
        <td>{{proyecto.id}}</td>
      </tr>
      <tr>
        <th>Icono</th>
        <td><a href="{{proyecto.icono}}"><img src="{{proyecto.icono}}" width="30" height="30"></a></td>
      </tr>
       <tr>
        <th>Id</th>
        <td>{{proyecto.id}}</td>
      </tr>
       <tr>
        	<th>Fecha inicio</th>
        	<td>{{proyecto.fecha_inicio}}</td>
      </tr> 
       <tr>
        	<th>Numero trabajadores</th>
        	<td>{{proyecto.numero_trabajadores}}</td>
      </tr>          
    </table>
  </div>
  
</div>
<div class="panel panel-default" *ngIf="crud_operation2.is_visible">
<app-crud-estado-tarea></app-crud-estado-tarea>
</div>

<div class="panel panel-default" *ngIf="crud_operation.is_visible">
<app-tareas-crud></app-tareas-crud>
</div>
 
<app-dashboard [routerLink]="[proyecto.nombre]"></app-dashboard>