.container{
    justify-content: center;
    box-shadow: 0px 0px 10px #000;
}
.container2{
    justify-content: center;
    box-shadow: 0px 12px 10px #FFFF00;
}
#div2{
    border-color: #FFFF00;
    justify-content: center;
    box-shadow: 0px 0px 10px #FFFF00;	
}
#divPrincipal{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: #00FF00;	
	}
	#divEstado{
		 border-color:#00FFFF	;
    justify-content: center;
    box-shadow: 0px 0px 10px #00FFFF;	
	}